.vscode/*
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/*
tmp/*
project/logs/*

# Notebooks
notebooks/*
!notebooks/stats.ipynb

# Ignore Sensitive Inputs
api_keys/*
inputs/*
!inputs/watchlist.yml
!inputs/index_trackers.csv
# Data Store
data/*