.vscode/*
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/*
tmp/*
project/logs/*

# Notebooks
notebooks/*
!notebooks/stats_sample.ipynb
!notebooks/stats_sample.html

# Ignore Other Sensitive Inputs
api_keys/*
inputs/*
!inputs/sample.csv
!inputs/sample_stock_categories.yml
!inputs/sample_category_allocation.yml
!inputs/watchlist.yml
!inputs/index_trackers.csv

# Data Store
data/*

# Node
node_modules/*
package-lock.json